.contain {
  background-color: #10028a;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.swiper-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 70%;
  /* background-color: red; */
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-content: center;
  height: 100%;
  /* background-color: green; */
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  height: 100%;
  width: 80%;
}

.contCard {
  /* background-color: yellow; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  /* background-color: green; */
}

.contPhoto {
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

.buttoner {
  border-radius: 10px;
  margin-top: 10px;
}
